{{ 'briss-cart.css' | asset_url | stylesheet_tag }}

<section class="cart">
    <div class="cart-container">
{% form 'cart', cart %}

    <h3 class="heading__tertiary cart-title">Shopping Cart</h3>
    {% if cart.empty? %}
        <p>Hey your cart is empty</p>
    {% else %}
        <div class="product-container">
            {% for item in cart.items %}
                <div class="product-container__row">
                    <div>
                        {{ item.image | image_url: width: 80, height: 80 | image_tag  }}
                    </div>
                    <div class="product-container__row--title">
                        <p>{{ item.title }}</p>
                    </div>
                    <div> 
                        <p>{{ item.final_line_price | money }}</p> 
                    </div>
                    <div>
                        <input name="updates[]" value="{{ item.quantity }}"/>
                    </div>
                    <div class="product-container__row--remove">
                        <a class="remove-cart-btn" type="button" href="{{ item.url_to_remove }}">Remove</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="cart-total-container">
            <p class="cart-total">Total: {{ cart.total_price | money }}</p>
        </div>
        
        <div class="cart-btn-container">
            <button class="cart-btn" type="submit" name="update">Update</button>
            <button class="cart-btn" type="submit" name="checkout">Checkout</button>
        </div>

        
    {% endif %}

{% endform %}
</div>
</section>

