{{ 'briss-cart.css' | asset_url | stylesheet_tag }}

<section class="cart">
    <div class="cart-container">
{% form 'cart', cart %}

    <h3 class="heading__tertiary cart-title">Shopping Cart</h3>
    {% if cart.empty? %}
        <p>Hey your cart is empty</p>
    {% else %}
        <div class="product-container">
            {% for item in cart.items %}
                <div class="product-container--row">
                    {{ item.image | image_url: width: 80, height: 80 | image_tag  }}
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.final_line_price | money }}</p> 
                    <input name="updates[]" value="{{ item.quantity }}"/>
                    <a href="{{ item.url_to_remove }}">Remove</a>
                </div>
            {% endfor %}
        </div>

        <hr/>

        <p>Total: {{ cart.total_price | money }}</p>

        <button type="submit" name="update">Update</button>

        <button type="submit" name="checkout">Checkout</button>
    {% endif %}

{% endform %}
</div>
</section>