{{ 'briss-collection.css' | asset_url | stylesheet_tag }}

<nav class="collection-nav">
    <div id="collection-nav__btn-container__back" class="collection-nav__btn-container collection-nav__btn-container--back">
        <button id="cn-btn__back" class="collection-nav__btn">BACK</button>
    </div>
    <ul id="cn__link-container" class="collection-nav__link-container">
        {% for collection in collections %}
            <li>{{- collection.title | link_to: collection.url }}</li>
        {% endfor %}
    </ul>
    <div class="collection-nav__btn-container collection-nav__btn-container--fwd">
        <button id="cn-btn__fwd" class="collection-nav__btn">FWD</button>
    </div>
</nav>

<div class="collection-grid">
    {% for product in collection.products %}
        <div class="product-card">
           <div class="product-card__header">
                <div>
                    <h4>{{ product.title | link_to: product.url }}</h4>
                    <p>From&nbsp;{{ product.price | money }}</p>
                </div> 
                <div class="product-card__icon">
                    {{ images['product-icon-special.svg'] | image_url: width: 800, height: 800 | image_tag }}
                </div>
            </div>
            <div class="product-card__img">
                {{ product.featured_image | image_url: width: 200, height: 200 | image_tag }}
            </div>
            <div class="product-card__description">
                 {{ product.description }}
            </div>
            <div class="product-card__additional">
                <a href="{{ product.url }}">More Information!!!</a>
                
            </div>
        </div>
        
    {% endfor %}
</div>

{% javascript %}

    const domStrings = {
        cnLinkContainer: document.getElementById('cn__link-container'),
        cnBtnContainerBack: document.getElementById('collection-nav__btn-container__back'),
        cnBtnBack: document.getElementById('cn-btn__back'),
        cnBtnFwd: document.getElementById('cn-btn__fwd')
    }

console.log(domStrings.cnLinkContainer.scrollWidth)
console.log(domStrings.cnLinkContainer.offsetWidth)

    if(domStrings.cnLinkContainer.offsetWidth <= domStrings.cnLinkContainer.scrollWidth) {
        domStrings.cnBtnBack.style.display = 'flex'
        domStrings.cnBtnFwd.style.display = 'flex'

    }

    const scrollCollectionNav = (direction) => {
        if(direction === 'forwards'){
            domStrings.cnLinkContainer.scrollLeft += 20;
        } else {
            domStrings.cnLinkContainer.scrollLeft -= 20;
        }
        
    }

    domStrings.cnBtnFwd.addEventListener('click', ()=>{scrollCollectionNav('forwards')})
    domStrings.cnBtnBack.addEventListener('click', ()=>{scrollCollectionNav('back')})

{% endjavascript %}

{% comment %} {% for collection in collections %}
  {{- collection.title | link_to: collection.url }}
{% endfor %} {% endcomment %}

{% comment %} {{ collection.title }} {% endcomment %}