{{ 'briss-collection.css' | asset_url | stylesheet_tag }}

<nav class="collection-nav">
    <ul>
        {% for collection in collections %}
            <li>{{- collection.title | link_to: collection.url }}</li>
        {% endfor %}
    </ul>
    
</nav>

<div class="collection-grid">
    {% for product in collection.products %}
        <div class="product-card">
            <div class="product-card__icon">
                {{ images['product-icon-special.svg'] | image_url: width: 800, height: 800 | image_tag }}
            </div>
            <div class="product-card__header">
                <img src="{{ product.featured_image | image_url: width: 300, height: 300 }}"/>
                <div>
                    <h4>{{ product.title | link_to: product.url }}</h4>
                </div>
               
            </div>
            <div class="product-card__description">
                 <p>{{ product.description }}</p>
            </div>
            <div class="product-card__additional">
                <a href="{{ product.url }}">More Information!!!</a>
                <p>From&nbsp;{{ product.price | money }}</p>
            </div>
        </div>
        
    {% endfor %}
</div>

{% comment %} {% for collection in collections %}
  {{- collection.title | link_to: collection.url }}
{% endfor %} {% endcomment %}

{% comment %} {{ collection.title }} {% endcomment %}