{% comment %} TODO: REFACTOR PLUS JS {% endcomment %}
{% comment %} TODO: CREATE SNIPPET FOR FORM INPUT {% endcomment %}

{{ 'briss-customer-account.css' | asset_url | stylesheet_tag }}

{% comment %} <script src="{{ 'briss-customer-account__addresses.js' | asset_url }}" defer></script> {% endcomment %}
<script src="{{ 'briss-customer-account__AddressesContainer.js' | asset_url }}" defer></script>


<addresses-container>
   
    <div class="customer-form-container"> 
    <h2 class="heading__secondary customer-heading__primary">Your Saved Addresses</h2>
    <a class="customer-container__link customer-container__link--address" href="{{ routes.account_url }}">return to your account</a>
    
    <div class="customer-addresses-container">
    <div class="customer-address-form" id="address-add-new">
    {% comment %} button will show form {% endcomment %}
    {% form 'customer_address', customer.new_address %}
            {% comment %} CUSTOMER NAME {% endcomment %}
            <div class="customer-address-form-input-container">
                <input required for="address-first-name" type="text" name="address[first_name]" placeholder="first name">
                <label class="customer-address-form-label" for="address-first-name">first name</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="address-last-name" type="text" name="address[last_name]" placeholder="last name">
                <label class="customer-address-form-label" for="address-last-name">last name</label>
            </div>
            {% comment %} CUSTOMER COMPANY {% endcomment %}
            <div class="customer-address-form-input-container">
                <input required id="address-company" type="text" name="address[company]" placeholder="company">
                <label class="customer-address-form-label" for="address-company">company</label>
            </div>
            {% comment %} CUSTOMER ADDRESS {% endcomment %}
            <div class="customer-address-form-input-container">
                <input required id="customer-address-1" type="text" name="address[address1]" placeholder="address 1">
                <label class="customer-address-form-label" for="customer-address-1">address 1</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-2" type="text" name="address[address2]" placeholder="address 2">
                <label class="customer-address-form-label" for="customer-address-2">address 2</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-city" type="text" name="address[city]" placeholder="city">
                <label class="customer-address-form-label" for="customer-address-city">city</label>
            </div>

            <div class="customer-address-form-input-container">
                <label class="customer-address-form-label__select" for="customer-address-country">country</label>
                <select required id="customer-address-country" name="address[country]" placeholder="country">
                    {{ country_option_tags }}
                </select>
                
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-zip" type="text" name="address[zip]" placeholder="postal/zip code">
                <label class="customer-address-form-label" for="customer-address-zip">postal/zip code</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-phone" type="number" name="address[phone]" placeholder="phone">
                <label class="customer-address-form-label" for="customer-address-phone">phone</label>
            </div>

             <div class="customer-address-form-label__default">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">set as default address</label>
            </div>

            <div class="submit address-form--btns">
                <input class="customer-btn customer-address-btn" type="submit" value="Add Address">
            </div>
            
{% endform %} 
</div>
<button class="show-form-btn customer-btn customer-address-btn" data-formbtn="address-add-new" data-btnlabel="add new address">Add new address</button>
</div>
{% comment %} list out addresses {% endcomment %}
{% if customer.addresses_count > 0 %}
    {% for address in customer.addresses %}
        {% if address.id == customer.default_address.id %}
            <div class="customer-addresses-container">
            <div class="customer-address customer-default-address">
                <h3>default</h3>
            {{ address | format_address }}
        </div>
        
        <div id="address-update-{{ forloop.index0 }}" class="customer-address-form">
        {% form 'customer_address', address %}
            {% comment %} CUSTOMER NAME {% endcomment %}
            <div class="customer-address-form-input-container">
                <input required for="address-first-name" type="text" name="address[first_name]" placeholder="first name" value="{{ address.first_name }}">
                <label class="customer-address-form-label" for="address-first-name">first name</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="address-last-name" type="text" name="address[last_name]" placeholder="last name" value="{{ address.first_name }}">
                <label class="customer-address-form-label" for="address-last-name">last name</label>
            </div>
            {% comment %} CUSTOMER COMPANY {% endcomment %}
            <div class="customer-address-form-input-container">
                <input required id="address-company" type="text" name="address[company]" placeholder="company" value="{{ address.last_name }}">
                <label class="customer-address-form-label" for="address-company">company</label>
            </div>
            {% comment %} CUSTOMER ADDRESS {% endcomment %}
            <div class="customer-address-form-input-container">
                <input required id="customer-address-1" type="text" name="address[address1]" placeholder="address 1" value="{{ address.address1 }}">
                <label class="customer-address-form-label" for="customer-address-1">address 1</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-2" type="text" name="address[address2]" placeholder="address 2" value="{{ address.address2 }}">
                <label class="customer-address-form-label" for="customer-address-2">address 2</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-city" type="text" name="address[city]" placeholder="city" value="{{ address.city }}">
                <label class="customer-address-form-label" for="customer-address-city">city</label>
            </div>

            <div class="customer-address-form-input-container">
                <label class="customer-address-form-label__select" for="customer-address-country">country</label>
                <select required class="customer-address-select" id="customer-address-country" data-country="{{ address.country }}" name="address[country]" placeholder="country">
                    {{ country_option_tags }}
                </select>
                
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-zip" type="text" name="address[zip]" placeholder="postal/zip code" value="{{ address.zip }}">
                <label class="customer-address-form-label" for="customer-address-zip">postal/zip code</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-phone" type="number" name="address[phone]" placeholder="phone" value="{{ address.phone }}">
                <label class="customer-address-form-label" for="customer-address-phone">phone</label>
            </div>

             <div class="customer-address-form-label__default">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">set as default address</label>
            </div>

            <div class="submit address-form--btns">
                <input class="customer-btn customer-address-btn" type="submit" value="update Address">
            </div>
       
            
{% endform %} 

</div> 
<button class="show-form-btn customer-btn customer-address-btn" data-btnlabel="update address" data-formbtn="address-update-{{ forloop.index0 }}">update address</button>
</div>
{% else %}
<div class="customer-addresses-container">
        <div class="customer-address">
            {{ address | format_address }}
        </div>
        {% comment %} <button class="show-form-btn customer-btn" data-btnlabel="update address" data-formbtn="address-update-{{ forloop.index0 }}" >update address</button> {% endcomment %}
        <div id="address-update-{{ forloop.index0 }}" class="customer-address-form">
        {% form 'customer_address', address %}
            {% comment %} CUSTOMER NAME {% endcomment %}
            <div class="customer-address-form-input-container">
                <input required for="address-first-name" type="text" name="address[first_name]" placeholder="first name" value="{{ address.first_name }}">
                <label class="customer-address-form-label" for="address-first-name">first name</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="address-last-name" type="text" name="address[last_name]" placeholder="last name" value="{{ address.first_name }}">
                <label class="customer-address-form-label" for="address-last-name">last name</label>
            </div>
            {% comment %} CUSTOMER COMPANY {% endcomment %}
            <div class="customer-address-form-input-container">
                <input required id="address-company" type="text" name="address[company]" placeholder="company" value="{{ address.last_name }}">
                <label class="customer-address-form-label" for="address-company">company</label>
            </div>
            {% comment %} CUSTOMER ADDRESS {% endcomment %}
            <div class="customer-address-form-input-container">
                <input required id="customer-address-1" type="text" name="address[address1]" placeholder="address 1" value="{{ address.address1 }}">
                <label class="customer-address-form-label" for="customer-address-1">address 1</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-2" type="text" name="address[address2]" placeholder="address 2" value="{{ address.address2 }}">
                <label class="customer-address-form-label" for="customer-address-2">address 2</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-city" type="text" name="address[city]" placeholder="city" value="{{ address.city }}">
                <label class="customer-address-form-label" for="customer-address-city">city</label>
            </div>

            <div class="customer-address-form-input-container">
                <label class="customer-address-form-label__select" for="customer-address-country">country</label>
                <select required class="customer-address-select" id="customer-address-country" data-country="{{ address.country }}" name="address[country]" placeholder="country">
                    {{ country_option_tags }}
                </select>
                
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-zip" type="text" name="address[zip]" placeholder="postal/zip code" value="{{ address.zip }}">
                <label class="customer-address-form-label" for="customer-address-zip">postal/zip code</label>
            </div>

            <div class="customer-address-form-input-container">
                <input required id="customer-address-phone" type="number" name="address[phone]" placeholder="phone" value="{{ address.phone }}">
                <label class="customer-address-form-label" for="customer-address-phone">phone</label>
            </div>

             <div class="customer-address-form-label__default">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">set as default address</label>
            </div>

            <div class="submit address-form--btns">
                <input class="customer-btn customer-address-btn" type="submit" value="update Address">
            </div>
       
            
{% endform %} 
</div>
 <button class="show-form-btn customer-btn customer-address-btn" data-btnlabel="update address" data-formbtn="address-update-{{ forloop.index0 }}" >update address</button> 
</div>
{% endif %}
    {% endfor %}
{% else %}
    <p>no addresss saved</p>
{% endif %}
</div>
</addresses-container>


 