{{ 'briss-customer-navigation.css' | asset_url | stylesheet_tag }}

<nav aria-label="customer navigation" class="customer-navigation">
    <ul role="list">
        <li id="customer-navigation__search">
            {{ images['icons_search.png'] | image_url: width:48, height: 48 | image_tag }}
            <div class="customer-navigation__content">
                <div>
                    <form action="{{ routes.search_url }}">
                        <input type="text"
                            placeholder="Search"
                            name="q"
                            value="{{ search.terms | escape }}"
                        />
                        <input type="hidden" name="type" value="product,page" />
                        <input type="hidden" name="options[unavailable_products]" value="hide" />
                        <input type="hidden" name="options[prefix]" value="last" />
                        <input type="submit" value="Search" />
                    </form>
                </div>
            </div>
        </li>
        <li id="customer-navigation__account">    
            {{ images['icons_user.png'] | image_url: width:48, height: 48 | image_tag }}
            <div class="customer-navigation__content">
                <div>
                    <a href="/account">Sign up</a>
                    <a href="/account">Sign in</a>
                </div>
            </div>
        </li>
        <li><a href="/cart">{{ images['icons_basket.png'] | image_url: width:48, height: 48 | image_tag }}</a></li>
    </ul>
</nav>

{% javascript %}



function eventHandler(event) {
    closeCustomerNavigationModal(event,parentId)
}

const closeCustomerNavigationModal = (event, parentId,signal) => {
    console.log(parentId)
    console.log(event.target)
  if (event.target.id === parentId.id || parentId.contains(event.target)) {return}
    parentId.querySelector(".customer-navigation__content").style.display =
      "none";

    signal.abort()
  
};

const showCustomerNavigationModal = (event, elementId) => {
    if(event.target.id !== elementId) {
        return
    }
 const removeCloseModalListener = new AbortController();

    const parentId = event.target
    console.log(parentId)
    
  parentId.querySelector('.customer-navigation__content').style.display = "block";
  document.addEventListener('click', (event)=>{
    console.log('add doc lisntntnt')
    closeCustomerNavigationModal(event,parentId,removeCloseModalListener)},{signal: removeCloseModalListener.signal})
};



document.getElementById('customer-navigation__search').addEventListener('click', (e)=>{showCustomerNavigationModal(e,'customer-navigation__search')})



{% endjavascript %}

{% schema %}
    {
        "name": "customer-navigation",
        "class": "grid__customer"
    }
{% endschema %}