{{ 'briss-customer-navigation.css' | asset_url | stylesheet_tag }}

<nav aria-label="customer navigation" class="customer-navigation">
    <ul role="list">
        <li id="customer-navigation__search">
            {{ images['icons_search.png'] | image_url: width:48, height: 48 | image_tag }}
            <div class="customer-navigation__content">
                <div>
                    <form action="{{ routes.search_url }}">
                        <input type="text"
                            placeholder="Search"
                            name="q"
                            value="{{ search.terms | escape }}"
                        />
                        <input type="hidden" name="type" value="product,page" />
                        <input type="hidden" name="options[unavailable_products]" value="hide" />
                        <input type="hidden" name="options[prefix]" value="last" />
                        <input type="submit" value="Search" />
                    </form>
                </div>
            </div>
        </li>
        <li id="customer-navigation__account">    
            {{ images['icons_user.png'] | image_url: width:48, height: 48 | image_tag }}
            <div class="customer-navigation__content">
                <div>
                    <a href="/account">Sign up</a>
                    <a href="/account">Sign in</a>
                </div>
            </div>
        </li>
        <li><a href="/cart">{{ images['icons_basket.png'] | image_url: width:48, height: 48 | image_tag }}</a></li>
    </ul>
</nav>

{% javascript %}

const removePopUp = () => {
  document.addEventListener("click", () => {
    document.querySelector(".customer-navigation__content").style.display =
      "none";

    document.removeEventListener("click", () => {
      document.querySelector(".customer-navigation__content").style.display =
        "none";
    });
  });
};

    document.getElementById('customer-navigation__search').addEventListener('click', (event)=>{
        console.log(event.target)
        event.target.querySelector('.customer-navigation__content').style.display = 'block'
        // removePopUp()

    //     document.addEventListener("click", () => {
    //         console.log('click')
    // document.querySelector(".customer-navigation__content").style.display =
    //   "none";})
    })

    document.getElementById('customer-navigation__account').addEventListener('click', (event)=>{
        console.log(event.target)
        event.target.querySelector('.customer-navigation__content').style.display = 'block'
        // removePopUp()

    //     document.addEventListener("click", () => {
    //         console.log('click')
    // document.querySelector(".customer-navigation__content").style.display =
    //   "none";})
    })

    const setCustomerNavigationContent = (element) => {
  element.style.display = 'block'
};





{% endjavascript %}

{% schema %}
    {
        "name": "customer-navigation",
        "class": "grid__customer"
    }
{% endschema %}