{{ 'briss-footer.css' | asset_url | stylesheet_tag }}


<footer class="footer grid__footer">
    <h3 class="heading__tertiary footer__header">EST. 1999 ROYSTON VASEY</h3>
    <ul class="footer__social_links">
      <li>
        {{ images['icons_facebook.png'] | image_url: width: 30, height: 30 | image_tag }}
        <a>facebook</a>
      </li>
      <li>{{ images['icons_facebook.png'] | image_url: width: 30, height: 30 | image_tag }}
        <a>twitter</a></li>
      <li>{{ images['icons_facebook.png'] | image_url: width: 30, height: 30 | image_tag }}
        <a>instagram</a></li>
      <li>{{ images['icons_facebook.png'] | image_url: width: 30, height: 30 | image_tag }}
        <a>linkedin</a></li><li>{{ images['icons_facebook.png'] | image_url: width: 30, height: 30 | image_tag }}
        <a>name</a></li>
    </ul>
    <div class="icon__info">
      <a href="https://icons8.com/">icons by Icons8</a>
    </div>
</footer>