{{ 'briss-navigation.css' | asset_url | stylesheet_tag }}

<script src="{{ 'briss-navigation.js' | asset_url }}" defer></script>

  {% comment %} NAV BAR {% endcomment %}
  <nav aria-label="primary navigation" class="nav-bar nav_grid_area">
    <div class="dash-short"></div>
    <ul>
      {% for link in linklists.main-menu.links %}
        <li class="nav-bar__link-container">
          <a class="nav-bar__btn" id="btn__about" href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="dash-short"></div>
  </nav>
  {% comment %} NAV DRAWER {% endcomment %}
  <div class="nav-drawer-container">
    <div id="nav-drawer-container__show" class="nav-drawer-container__show">
      <button id="nav-bar-btn-show" class="nav-bar__btn--show ">
        <span id="nav-drawer__open" class="nav-bar__btn--open">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      {% comment %} <button id="nav-bar-btn-show" class="nav-bar__btn--show ">
        <span id="nav-drawer__close" class="nav-bar__btn--close">
          <span></span>
          <span></span>
        </span>
      </button> {% endcomment %}
    </div>
    <nav id="nav-drawer" aria-label="primary navigation drawer" class="nav-drawer">
      <ul>
        {% for link in linklists.main-menu.links %}
          <div class="dash-short"></div>
          <li class="nav-bar__link-container">
            <a class="nav-bar__btn" id="btn__about" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        <div class="dash-short"></div>
      </ul>
    </nav>
  </div>

{% schema %}
    {
        "name": "navigation",
        "tag":"section",
        "limit": 1
    }
{% endschema %}