{{ 'briss-navigation.css' | asset_url | stylesheet_tag }}

<div>
  {% comment %} NAV BAR {% endcomment %}
  <nav aria-label="primary navigation" class="nav-bar nav_grid_area">
    <div class="dash-short"></div>
    <ul>
      {% for link in linklists.main-menu.links %}
        <li class="nav-bar__link-container">
          <a class="nav-bar__btn" id="btn__about" href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="dash-short"></div>
  </nav>
  {% comment %} NAV DRAWER {% endcomment %}
  <div class="nav-drawer-container">
    <div id="nav-drawer-container__show" class="nav-drawer-container__show">
      <button id="nav-bar-btn-show" class="nav-bar__btn--show ">
        <span id="nav-drawer__open" class="nav-bar__btn--open">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      {% comment %} <button id="nav-bar-btn-show" class="nav-bar__btn--show ">
        <span id="nav-drawer__close" class="nav-bar__btn--close">
          <span></span>
          <span></span>
        </span>
      </button> {% endcomment %}
    </div>
    <nav id="nav-drawer" aria-label="primary navigation drawer" class="nav-drawer">
      <ul>
        {% for link in linklists.main-menu.links %}
          <div class="dash-short"></div>
          <li class="nav-bar__link-container">
            <a class="nav-bar__btn" id="btn__about" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        <div class="dash-short"></div>
      </ul>
    </nav>
  </div>
  
</div>

{% javascript %}

const changeNavDrawerBtnShowContent = (element, html) => {
while (element.firstChild) {
      element.removeChild(element.lastChild)
      }
    element.insertAdjacentHTML('beforeend', html)
}


const showNavDrawer = () => {
  console.log('clcllclclclclclclclc')
  const elements = {
    root: document.documentElement,
    navDrawerBtnShow: document.getElementById('nav-bar-btn-show')
  }


  const navDrawerBtnShowHtml = 
        `<span id="nav-drawer__open" class="nav-bar__btn--open">
          <span></span>
          <span></span>
          <span></span>
        </span>`;

  const navDrawerBtnHideHtml = 
        `<span id="nav-drawer__close" class="nav-bar__btn--close">
          <span></span>
          <span></span>
        </span>`;

  const root = document.documentElement;
  const navDrawerShowBottom = document.getElementById('nav-drawer-container__show').getBoundingClientRect().bottom
  root.style.setProperty('--nav-drawer-offset', `${navDrawerShowBottom}px`);

  // document.getElementById('nav-drawer').classList.toggle('nav-drawer-show')
  const navDrawer = document.getElementById('nav-drawer')

  if(navDrawer.classList.length === 1) {
    navDrawer.classList.add('nav-drawer-show')
    document.body.style.overflow = 'hidden'
    changeNavDrawerBtnShowContent(elements.navDrawerBtnShow, navDrawerBtnHideHtml)
    // while (elements.navDrawerBtnShow.firstChild) {
    //   elements.navDrawerBtnShow.removeChild(elements.navDrawerBtnShow.lastChild)
    //   }
    // elements.navDrawerBtnShow.insertAdjacentHTML('beforeend', navDrawerHideHtml)
    return
  }

  if(navDrawer.classList.contains('nav-drawer-hide')){
    navDrawer.classList.remove('nav-drawer-hide')
    navDrawer.classList.add('nav-drawer-show')
    changeNavDrawerBtnShowContent(elements.navDrawerBtnShow, navDrawerBtnHideHtml)
    document.body.style.overflow = 'hidden'
  }else {
    navDrawer.classList.add('nav-drawer-hide')
    navDrawer.classList.remove('nav-drawer-show')
    changeNavDrawerBtnShowContent(elements.navDrawerBtnShow, navDrawerBtnShowHtml)
    document.body.style.overflow = 'scroll'
  }

}

document.getElementById('nav-bar-btn-show').addEventListener('click', showNavDrawer)

{% endjavascript %}

{% schema %}
    {
        "name": "navigation",
        "class": "grid__nav"
    }
{% endschema %}