{{ 'briss-navigation.css' | asset_url | stylesheet_tag }}

<div>
  {% comment %} NAV BAR {% endcomment %}
  <nav aria-label="primary navigation" class="nav-bar nav_grid_area">
    <div class="dash-short"></div>
    <ul>
      {% for link in linklists.main-menu.links %}
        <li class="nav-bar__link-container">
          <a class="nav-bar__btn" id="btn__about" href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="dash-short"></div>
  </nav>
  {% comment %} NAV DRAWER {% endcomment %}
  <div class="nav-drawer-container">
    <div id="nav-drawer-container__show" class="nav-drawer-container__show">
      <button id="nav-bar-btn-show" class="nav-bar__btn--show ">
        <span id="nav-drawer__open" class="nav-bar__btn--open">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      {% comment %} <button id="nav-bar-btn-show" class="nav-bar__btn--show ">
        <span id="nav-drawer__close" class="nav-bar__btn--close">
          <span></span>
          <span></span>
        </span>
      </button> {% endcomment %}
    </div>
    <nav id="nav-drawer" aria-label="primary navigation drawer" class="nav-drawer">
      <ul>
        {% for link in linklists.main-menu.links %}
          <div class="dash-short"></div>
          <li class="nav-bar__link-container">
            <a class="nav-bar__btn" id="btn__about" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        <div class="dash-short"></div>
      </ul>
    </nav>
  </div>
  
</div>

{% javascript %}
  const DOMStrings = {
    root: document.documentElement,
    documentBody: document.body,
    navDrawerBtnShow: document.getElementById('nav-bar-btn-show'),
    navDrawerContainerShow: document.getElementById('nav-drawer-container__show'),
    navDrawer: document.getElementById('nav-drawer'),
    navDrawerHide: 'nav-drawer-hide',
    navDrawerShow: 'nav-drawer-show',
  }

  const changeNavDrawerBtnShowContent = (element, html) => {
    while (element.firstChild) {
      element.removeChild(element.lastChild)
    }
    element.insertAdjacentHTML('beforeend', html)
  }
  
  const showNavDrawer = () => {
    const navDrawerBtnOpenHtml = 
          `<span id="nav-drawer__open" class="nav-bar__btn--open">
            <span></span>
            <span></span>
            <span></span>
          </span>`;

    const navDrawerBtnCloseHtml = 
          `<span id="nav-drawer__close" class="nav-bar__btn--close">
            <span></span>
            <span></span>
          </span>`;

    // SET CSS VARIABLE FOR HEIGHT OF NAV DRAWER
    const navDrawerShowBottom = DOMStrings.navDrawerContainerShow.getBoundingClientRect().bottom
    DOMStrings.root.style.setProperty('--nav-drawer-offset', `${navDrawerShowBottom}px`);

    // First opening after page load
    if(DOMStrings.navDrawer.classList.length === 1) {
      DOMStrings.navDrawer.classList.add(DOMStrings.navDrawerShow)
      DOMStrings.documentBody.style.overflow = 'hidden'
      changeNavDrawerBtnShowContent(DOMStrings.navDrawerBtnShow, navDrawerBtnCloseHtml)
      return
    }

    // All other openings
    if(DOMStrings.navDrawer.classList.contains(DOMStrings.navDrawerHide)){
      DOMStrings.navDrawer.classList.remove(DOMStrings.navDrawerHide)
      DOMStrings.navDrawer.classList.add(DOMStrings.navDrawerShow)
      changeNavDrawerBtnShowContent(DOMStrings.navDrawerBtnShow, navDrawerBtnCloseHtml)
      DOMStrings.documentBody.style.overflow = 'hidden'
    } else {
      DOMStrings.navDrawer.classList.add(DOMStrings.navDrawerHide)
      DOMStrings.navDrawer.classList.remove(DOMStrings.navDrawerShow)
      changeNavDrawerBtnShowContent(DOMStrings.navDrawerBtnShow, navDrawerBtnOpenHtml)
      DOMStrings.documentBody.style.overflow = 'scroll'
    }
  }

  DOMStrings.navDrawerBtnShow.addEventListener('click', showNavDrawer)

{% endjavascript %}

{% schema %}
    {
        "name": "navigation",
        "class": "grid__nav"
    }
{% endschema %}