{{ 'briss-product.css' | asset_url | stylesheet_tag }}
{% comment %} 

<div class="product">
    <div class="product-card">
        <h3 class="heading__tertiary">{{ product.title }}<h3>
        <p>{{ product.description }}</p>
        <p class="product-card__price">from {{ product.price | money }}</p>
        {% form 'product', product %}
            {% comment %} <input type="radio" value="{{ product.variants | last }}"> {% endcomment %}
            <select name="id" id="select">
              {% for variant in product.variants %}
                <option valuesssss="{{ variant.id }}" data-price="{{ variant.price }}"
                  {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                >
                  {{ variant.title }} - {{ variant.price | money }} - {{ variant.id }}  {{ variant.options }}
                </option>
              {% endfor %}
            </select>
            <br>
           

            <label>
              Strength
              <select>
                {%- for value in product.options_by_name['size'].values %}
                <option>{{ value }}</option>
                {%- endfor %}
              </select>
            </label>

            {% for option in product.options %}
              <label>{{ option }}</label>
              <select>
                {% for value in product.options_by_name[option].values %}
                  <option>{{ value }}</option>
                {% endfor %}
              </select>
            {% endfor %}

            <input type="text" name="quantity" min="1" value="1" id="quantity">
            <p>Total Price: <span id="total_price">{{ product.selected_or_first_available_variant.price | money }}</span></p>

            <input class="product-card__add-to-cart" type="submit" value="Add to cart">
            {{ form | payment_button }}

          {% endform %}
    </div>
   
    <div class="product-img">
        {{ product.featured_image | image_url: width: 800, height: 800 | image_tag }}
    </div>
</div>


{% javascript %}
  // ELEMENTS
  const select = document.getElementById('select');
  const totalPriceEl = document.getElementById('total_price');
  const quantity = document.getElementById('quantity');

  const updateTotalPrice=()=>{
    const totalPrice = select.options[select.selectedIndex].dataset.price * quantity.value

    totalPriceEl.textContent = totalPrice
  }
  
  select.addEventListener('change', updateTotalPrice)

{% endjavascript %}
 {% endcomment %}

 {% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}


{% form 'product', product %}
  <input type="hidden" name="id" value {{ product.selected_or_first_available_variant.id }}>

  {% if product.variants.size > 1 %}
    <div class="product-option">
      {% for option in product.options_with_values %}
        <fieldset>
          <legend>{{ option.name }}</legend>
          {% for value in option.values %}
            <div>
              <input
                {% if option.selected_value == value %}checked{% endif %}
                type="radio"
                name="{{ option.name }}"
                value="{{ value }}"
                id="{{ option.name | handlize }}-{{ value | handlize }}"
              >
              <label for="{{ option.name | handlize }}-{{ value | handlize }}">
                {{ value }}
              </label>
            </div>
          {% endfor %}
        </fieldset> 
      {% endfor %}
    </div>
  {% endif %}
{% endform %}

<script>
  const product = {{ product | json }}


  document.querySelectorAll('.product-option input[type="radio"]')
  .forEach(radio => radio.addEventListener('change', ()=>{
      const selectedOptions = []
  
      document.querySelectorAll('.product-option input[type="radio"]:checked')
      .forEach(radio => selectedOptions.push(radio.value))
  
      console.log(selectedOptions)
    }))

  console.log(product)
</script>

{% schema %}
    {
        "name": "product",
        "class": "product__grid"
        
    }
    
{% endschema %}