{{ 'briss-search.css' | asset_url | stylesheet_tag }}

<div class="search">
    <form action="{{ routes.search_url }}">
    <input class="search_input" 
    type="text"
    placeholder="Search"
    name="q"
    types="products"
    value="{{ search.terms | escape }}">
    <input type="hidden" name="type" value="product" />
    <input class="search_btn" type="submit" value="Search">
</form>

<p class="search_results__num">{{ search.results_count }} results found for "{{ search.terms }}"</p>

<div class="search_results">


{% if search.results_count > 0 %}
    <div class="search_results__container">
    {% for item in search.results %}
        {{ item.type }}
        <div class="search_results__card">
            <div class="search_results__card--img">
                {{ item.featured_image | image_url: width: 200, height: 200 | image_tag  }}
            </div>
                <div class="search_results__card--content">
                <div class="search_results__card--title"><p>&nbsp;{{ item.title }}</p></div>
                <div>
                    <p>&nbsp;{{ item.price | money}}</p>
                </div>
                <div class="search_results__card--more">
                    <a href="{{ item.url }}">More Information</a>
                </div>
            </div>
            
        </div>
    {% endfor %}
    </div>
{% else %}
    <p class="search_results__false">no results found for "{{ search.terms }}" check the spelling or saerch again</p>
{% endif %}
</div>
</div>

{% schema %}
    {
        "name": "search",
        "class": "grid__search"
    }
{% endschema %}