<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/url-parse@1.5.10/dist/url-parse.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    



    {{ content_for_header }}

    {% style %}
        /* CSS RESET */
        /* https://alligator.io/css/minimal-css-reset/ */
        html {
        box-sizing: border-box;
        /* font-size: 62.5%; */
        }

        *,
        *:before,
        *:after {
        box-sizing: inherit;
        }

        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ol,
        ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
        }

        img {
        max-width: 100%;
        height: auto;
        }

        /* CSS RESET END */

        /* ***** VARIABLES ***** */
        :root {
        /* Color Variables */
        --primary-color-red-500: #920e0e;
        --primary-color-white-500: #fcffc2;

        --primary-color-red-400: #ff3e3e;

        --secondary-color-gray: #efe3e3;
        --secondary-color-black: #1e1c1c;

        /* Border Variables */
        --border-red-5px: 5px solid var(--primary-color-red-500);

        /* Font Variables */
        --font-dancing-script: 'Dancing Script', cursive;
        }
    {% endstyle %}

    {{ 'index.css' | asset_url | stylesheet_tag }}
    {{ 'variables.css' | asset_url | stylesheet_tag }}

</head>
<body class="body__grid">
    {% sections 'header-group' %}
    <main class="grid__main">
        {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
</body>

<script>
    window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
      };
</script>
</html>